# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5434/leapfrog?schema=public

# NextAuth.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=generate-a-secure-secret-here

# Add other environment variables below as needed
